In [75]:
# Imports the required library
import pandas as pd
from pathlib import Path
import tensorflow as tf
# Imports the machine learning modules
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
#imports the data reporting moules
from sklearn.decomposition import PCA
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [76]:
#Upload Economic data_1.csv to Colab
from google.colab import files
csv_file = files.upload()

Saving Economic data_0.csv to Economic data_0 (1).csv

In [77]:
df = pd.read_csv(Path("Economic data_0.csv"))

In [78]:
df.head()

,Row Labels,ADP Employment Change,Average Hourly Earnings MoM,Average Hourly Earnings YoY,Average Weekly Hours All Employees,Building Permits,Business Inventories,Cap Goods Orders Nondef Ex Air,Cap Goods Ship Nondef Ex Air,Capacity Utilization,...,U. of Mich. Current Conditions,U. of Mich. Expectations,U. of Mich. Sentiment,Underemployment Rate,Unemployment Rate,Unit Labor Costs,Wards Total Vehicle Sales,Wholesale Inventories MoM,Wholesale Trade Sales MoM,Grand Total
0,1/3/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,101.412
1,1/4/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.0,13.48,0.0,0.0,13.457
2,1/5/12,325,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,4300.106
3,1/6/12,0,0.002,0.021,34.4,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.152,0.085,0.0,0.00,0.0,0.0,469.660
4,1/9/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,20.370

In [79]:
df=df.rename(columns={'Row Labels':'Date'})

In [80]:
df.head()

,Date,ADP Employment Change,Average Hourly Earnings MoM,Average Hourly Earnings YoY,Average Weekly Hours All Employees,Building Permits,Business Inventories,Cap Goods Orders Nondef Ex Air,Cap Goods Ship Nondef Ex Air,Capacity Utilization,...,U. of Mich. Current Conditions,U. of Mich. Expectations,U. of Mich. Sentiment,Underemployment Rate,Unemployment Rate,Unit Labor Costs,Wards Total Vehicle Sales,Wholesale Inventories MoM,Wholesale Trade Sales MoM,Grand Total
0,1/3/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,101.412
1,1/4/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.0,13.48,0.0,0.0,13.457
2,1/5/12,325,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,4300.106
3,1/6/12,0,0.002,0.021,34.4,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.152,0.085,0.0,0.00,0.0,0.0,469.660
4,1/9/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,20.370

In [81]:
df.dtypes

Date                                   object
ADP Employment Change                   int64
Average Hourly Earnings MoM           float64
Average Hourly Earnings YoY           float64
Average Weekly Hours All Employees    float64
                                       ...
Unit Labor Costs                      float64
Wards Total Vehicle Sales             float64
Wholesale Inventories MoM             float64
Wholesale Trade Sales MoM             float64
Grand Total                           float64
Length: 105, dtype: object

In [83]:
df.shape

(760, 105)

In [84]:
# -1, 0, 1
dummy_values = [-1, 1, 0]
import numpy as np
#random.choice(dummy_values)
df["trend"] = np.random.choice(dummy_values, len(df))

In [85]:
df.head()

,Date,ADP Employment Change,Average Hourly Earnings MoM,Average Hourly Earnings YoY,Average Weekly Hours All Employees,Building Permits,Business Inventories,Cap Goods Orders Nondef Ex Air,Cap Goods Ship Nondef Ex Air,Capacity Utilization,...,U. of Mich. Expectations,U. of Mich. Sentiment,Underemployment Rate,Unemployment Rate,Unit Labor Costs,Wards Total Vehicle Sales,Wholesale Inventories MoM,Wholesale Trade Sales MoM,Grand Total,trend
0,1/3/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,101.412,0
1,1/4/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.000,0.0,13.48,0.0,0.0,13.457,1
2,1/5/12,325,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,4300.106,0
3,1/6/12,0,0.002,0.021,34.4,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.152,0.085,0.0,0.00,0.0,0.0,469.660,-1
4,1/9/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,20.370,1

In [87]:
y=df["trend"]
df=df.set_index(['Date'])
X=df.drop(columns='Grand Total')

In [88]:
df.head()

,ADP Employment Change,Average Hourly Earnings MoM,Average Hourly Earnings YoY,Average Weekly Hours All Employees,Building Permits,Business Inventories,Cap Goods Orders Nondef Ex Air,Cap Goods Ship Nondef Ex Air,Capacity Utilization,Challenger Job Cuts YoY,...,U. of Mich. Expectations,U. of Mich. Sentiment,Underemployment Rate,Unemployment Rate,Unit Labor Costs,Wards Total Vehicle Sales,Wholesale Inventories MoM,Wholesale Trade Sales MoM,Grand Total,trend
Date,,,,,,,,,,,,,,,,,,,,,
1/3/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,101.412,0
1/4/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.000,0.000,0.0,13.48,0.0,0.0,13.457,1
1/5/12,325,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,0.306,...,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,4300.106,0
1/6/12,0,0.002,0.021,34.4,0,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.152,0.085,0.0,0.00,0.0,0.0,469.660,-1
1/9/12,0,0.000,0.000,0.0,0,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.000,0.000,0.0,0.00,0.0,0.0,20.370,1

In [89]:
# Splits the data using train_test_split and assigns a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [90]:
# Creates a StandardScaler instance
scaler = StandardScaler()

# Applys the scaler model to fit the X-train data
X_scaler = scaler.fit(X_train)

# Transforms the X_train and X_test DataFrames using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [91]:
## Compile and Evaluate a Binary Classification Model Using a Neural Network

In [92]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

104

In [93]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [94]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 20

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

20

In [95]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  20

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

20

In [96]:
# Create the Sequential model instance
nn = Sequential()

In [97]:
# Add the first hidden layer
nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [98]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [99]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [100]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                2100

 dense_1 (Dense)             (None, 20)                420

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 2,541
Trainable params: 2,541
Non-trainable params: 0
_________________________________________________________________

In [101]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["accuracy"])

In [102]:
# Fit the model using 50 epochs and the training data
model_1 = nn.fit(X, y, epochs=50)

Epoch 1/50
24/24 [==============================] - 1s 2ms/step - loss: 637329.8750 - accuracy: 0.3684
Epoch 2/50
24/24 [==============================] - 0s 2ms/step - loss: 4325.8511 - accuracy: 0.3671
Epoch 3/50
24/24 [==============================] - 0s 3ms/step - loss: 2545.4290 - accuracy: 0.3724
Epoch 4/50
24/24 [==============================] - 0s 2ms/step - loss: 17447.9336 - accuracy: 0.3671
Epoch 5/50
24/24 [==============================] - 0s 3ms/step - loss: 21752.8008 - accuracy: 0.3684
Epoch 6/50
24/24 [==============================] - 0s 2ms/step - loss: 56533.0859 - accuracy: 0.3789
Epoch 7/50
24/24 [==============================] - 0s 2ms/step - loss: 117428.3828 - accuracy: 0.3566
Epoch 8/50
24/24 [==============================] - 0s 2ms/step - loss: 44169.2461 - accuracy: 0.3803
Epoch 9/50
24/24 [==============================] - 0s 2ms/step - loss: 543831.1875 - accuracy: 0.3579
Epoch 10/50
24/24 [==============================] - 0s 2ms/step - loss: 303547.0312 - accuracy: 0.3579
Epoch 11/50
24/24 [==============================] - 0s 2ms/step - loss: 46727.0586 - accuracy: 0.3645
Epoch 12/50
24/24 [==============================] - 0s 2ms/step - loss: 1663.2738 - accuracy: 0.3618
Epoch 13/50
24/24 [==============================] - 0s 2ms/step - loss: 1257.7072 - accuracy: 0.3776
Epoch 14/50
24/24 [==============================] - 0s 2ms/step - loss: 208.9241 - accuracy: 0.3842
Epoch 15/50
24/24 [==============================] - 0s 2ms/step - loss: 133.9829 - accuracy: 0.3724
Epoch 16/50
24/24 [==============================] - 0s 3ms/step - loss: 81.3881 - accuracy: 0.3750
Epoch 17/50
24/24 [==============================] - 0s 2ms/step - loss: 73.1451 - accuracy: 0.3763
Epoch 18/50
24/24 [==============================] - 0s 3ms/step - loss: 71.9685 - accuracy: 0.3763
Epoch 19/50
24/24 [==============================] - 0s 2ms/step - loss: 69.9629 - accuracy: 0.3724
Epoch 20/50
24/24 [==============================] - 0s 2ms/step - loss: 68.5171 - accuracy: 0.3737
Epoch 21/50
24/24 [==============================] - 0s 2ms/step - loss: 67.7419 - accuracy: 0.3737
Epoch 22/50
24/24 [==============================] - 0s 3ms/step - loss: 67.0620 - accuracy: 0.3789
Epoch 23/50
24/24 [==============================] - 0s 2ms/step - loss: 66.2324 - accuracy: 0.3776
Epoch 24/50
24/24 [==============================] - 0s 2ms/step - loss: 65.2768 - accuracy: 0.3697
Epoch 25/50
24/24 [==============================] - 0s 2ms/step - loss: 64.8811 - accuracy: 0.3776
Epoch 26/50
24/24 [==============================] - 0s 2ms/step - loss: 64.3190 - accuracy: 0.3803
Epoch 27/50
24/24 [==============================] - 0s 2ms/step - loss: 63.7854 - accuracy: 0.3724
Epoch 28/50
24/24 [==============================] - 0s 2ms/step - loss: 63.7282 - accuracy: 0.3711
Epoch 29/50
24/24 [==============================] - 0s 2ms/step - loss: 63.1204 - accuracy: 0.3724
Epoch 30/50
24/24 [==============================] - 0s 2ms/step - loss: 63.6452 - accuracy: 0.3711
Epoch 31/50
24/24 [==============================] - 0s 2ms/step - loss: 63.2347 - accuracy: 0.3763
Epoch 32/50
24/24 [==============================] - 0s 2ms/step - loss: 62.7858 - accuracy: 0.3684
Epoch 33/50
24/24 [==============================] - 0s 2ms/step - loss: 65.3252 - accuracy: 0.3816
Epoch 34/50
24/24 [==============================] - 0s 2ms/step - loss: 82.4850 - accuracy: 0.3737
Epoch 35/50
24/24 [==============================] - 0s 2ms/step - loss: 149.2341 - accuracy: 0.3724
Epoch 36/50
24/24 [==============================] - 0s 2ms/step - loss: 481.9295 - accuracy: 0.3789
Epoch 37/50
24/24 [==============================] - 0s 2ms/step - loss: 2106.8157 - accuracy: 0.3803
Epoch 38/50
24/24 [==============================] - 0s 2ms/step - loss: 8097.0195 - accuracy: 0.3868
Epoch 39/50
24/24 [==============================] - 0s 2ms/step - loss: 38240.0078 - accuracy: 0.3789
Epoch 40/50
24/24 [==============================] - 0s 2ms/step - loss: 173677.6875 - accuracy: 0.3605
Epoch 41/50
24/24 [==============================] - 0s 2ms/step - loss: 728516.1875 - accuracy: 0.3724
Epoch 42/50
24/24 [==============================] - 0s 2ms/step - loss: 1031928.6875 - accuracy: 0.3447
Epoch 43/50
24/24 [==============================] - 0s 2ms/step - loss: 430915.8438 - accuracy: 0.3829
Epoch 44/50
24/24 [==============================] - 0s 2ms/step - loss: 92217.9609 - accuracy: 0.3921
Epoch 45/50
24/24 [==============================] - 0s 2ms/step - loss: 1818.9336 - accuracy: 0.3842
Epoch 46/50
24/24 [==============================] - 0s 2ms/step - loss: 202.4333 - accuracy: 0.4026
Epoch 47/50
24/24 [==============================] - 0s 2ms/step - loss: 204.8399 - accuracy: 0.3868
Epoch 48/50
24/24 [==============================] - 0s 2ms/step - loss: 80.9859 - accuracy: 0.4026
Epoch 49/50
24/24 [==============================] - 0s 2ms/step - loss: 78.1792 - accuracy: 0.4026
Epoch 50/50
24/24 [==============================] - 0s 2ms/step - loss: 77.7327 - accuracy: 0.4000

In [103]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled , y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

6/6 - 0s - loss: 0.4699 - accuracy: 0.3737 - 145ms/epoch - 24ms/step
Loss: 0.4698880910873413, Accuracy: 0.37368419766426086